@import url("https://fonts.googleapis.com/css2?family=Jaini&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  overflow: hidden;
  /* width: 100%; */
}
body {
  background-color: #fff8ea;
  margin: 0;
  overflow: hidden;
  /* width: 100%; */
}
